# Onboard 12MHz Clock
set_io clk 35

# LCD Connections (to PMOD 1A for iCEBreaker v1.0b)
set_io rs_out      47
set_io enable_out  45
set_io data_out[0] 44
set_io data_out[1] 46
set_io data_out[2] 48
set_io data_out[3] 3