# Onboard 12MHz Clock for iCE40UP5K
set_io clk 21

# LCD Connections to PMOD 1B
set_io rs_out      12
set_io enable_out  11
set_io data_out[0] 10
set_io data_out[1] 9
set_io data_out[2] 6
set_io data_out[3] 4